{% extends 'userManagement/base.html' %}

{% block title %}
  Edit Employee
{% endblock title %}

{% block content %}
<body onload="hidefield()">
<div class="conatiner-fluid px-4">
    <br>
    <h1 class="mt-4">
        <i class="fa fa-users" aria-hidden="true"></i>
        Edit Employee</h1>
    <br>

    <script type="text/javascript">
        function showother(name)
        {
          if(name=='Others')document.getElementById('div1').style.display="block";
          else document.getElementById('div1').style.display="none";
        }
       
       function hidefield() 
       {
       document.getElementById('div1').style.display='none';
       }

        function setacholder()
        {
            var a = document.getElementById('val-name');
            var b = document.getElementById('val-bankachname');
            b.value = a.value;
        }
        </script>

    <div class="content">
        <div class="block">
            <div class="block-content">
                <div class="row justify-content-start py-20">
                    <div class="col-xl-6">
                        <hr>
                        <br>
                        {% if messages %}
                            <div class="alert alert-warning" role="alert">
                                <ul class="messages">
                                    {%for message in messages%}
                                    <li {%if message.tags%} class="{{ message.tags }}" {%endif%}>{{ message }}</li>
                                    {%endfor%}
                                </ul>
                            </div>
                        {% endif %}
                        <form class="js-validation-bootstrap"  action="{{getempid.empid}}" method="POST">
                            {% csrf_token %}
                            <button type = 'submit' disabled style = "display:none" aria-hidden = "true" ></button>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Code</label>
                                <div class="col-lg-8">
                                    <input type="number" class="form-control" value ="{%if getempid.empcode is not None%}{{getempid.empcode}}{%endif%}" id="val-empcode" name="empcode" placeholder="Enter the Employee Code" >
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Name</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-name" value="{%if getempid.empname is not None%}{{getempid.empname}}{%endif%}" name="empname" placeholder="Enter the Employee Name" onKeyUp = "setacholder();">
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Team</label>
                                <div class="col-lg-8">
                                    <select name="team" id="val-team">
                                    <option value="">{%if getempid.team is not None%}{{getempid.team}}{%endif%}</option>
                                        {% for team in teams %}
                                        <option>{{team.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Site</label>
                                <div class="col-lg-8">
                                    <select name="site" id="val-site">
                                        <option value="">{%if getempid.site is not None%}{{getempid.site}}{%endif%}</option>
                                        {% for site in sites %}
                                            <option>{{site.sitename}}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Address</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-address" value="{%if getempid.address is not None%}{{getempid.address}}{%endif%}" name="address" placeholder="Enter the Employee Address" >
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Pincode</label>
                                <div class="col-lg-8">
                                    <input type="number" class="form-control" id="val-pinCode" name="pincode" value="{%if getempid.pincode is not None%}{{getempid.pincode}}{%endif%}" placeholder="Enter the Employee Pinode">
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Email</label>
                                <div class="col-lg-8">
                                    <input type="email" class="form-control" id="val-email" name="empemail" value = "{%if getempid.empemail is not None%}{{getempid.empemail}}{%endif%}" placeholder="Enter the Employee Email ID" >
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Mobile No</label>
                                <div class="col-lg-8">
                                    <input type="number" class="form-control" id="val-mobile2" name="mobile1" value="{%if getempid.mobile1 is not None%}{{getempid.mobile1}}{%endif%}" placeholder="Enter the Employee Mobile Number">
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Mobile No (Alternative)</label>
                                <div class="col-lg-8">
                                    <input type="number" class="form-control" id="val-mobile2" name="mobile2" value="{%if getempid.mobile2 is not None%}{{getempid.mobile2}}{%endif%}" placeholder="Enter the Employee Mobile Number (Alternative)" >
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Bank Account Number</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-bankACno" name="bankacno" value="{%if getempid.bankacno is not None%}{{getempid.bankacno}}{%endif%}" placeholder="Enter the Employee Bank Account Number" >
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Bank IFSC Code</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-bankifsc" name="bankifsc" value="{%if getempid.bankifsc is not None%}{{getempid.bankifsc}}{%endif%}" placeholder="Enter the Employee Bank IFSC Code" >
                                </div>
                            </div>
                            <br>
                            
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Bank Account Holder Name</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-bankachname" name="bankachname" value="{%if getempid.acholdername is not None%}{{getempid.acholdername}}{%endif%}" placeholder="Enter the Employee Bank Acount Holder Name" >
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">PAN Card Number</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control pan" id="val-PAN" name="pan" value="{%if getempid.pan is not None%}{{getempid.pan}}{%endif%}" placeholder="Enter the Employee PAN Card Number" >
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Aadhaar Card Number</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-aadhaar" name="aadhaar" value="{%if getempid.aadhaar is not None%}{{getempid.aadhaar}}{%endif%}" placeholder="Enter the Employee Bank Account Number" >
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Gender</label>
                                <div class="col-lg-8">
                                    {% if getempid.gender == "Male" %}
                                        <input type="radio" id="val-gender" name="gender" value="Male" checked>
                                    {%else%}
                                        <input type="radio" id="val-gender" name="gender" value="Male">
                                    {%endif%}
                                        <label for="html">Male</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% if getempid.gender == "Female" %}
                                        <input type="radio"  id="val-gender" name="gender" value="Female" checked>
                                    {%else%}
                                        <input type="radio"  id="val-gender" name="gender" value="Female" >
                                    {%endif%}
                                        <label for="html">Female</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% if getempid.gender == "Others" %}
                                        <input type="radio"  id="val-gender" name="gender" value="Others" checked>
                                    {%else%}
                                        <input type="radio"  id="val-gender" name="gender" value="Others">
                                    {%endif%}
                                        <label for="html">Others</label><br>
                                </div>
                            </div>
                            
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Date of Birth</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-DOB" name="" value="{%if getempid.dob is not None%}{{getempid.dob}}{%endif%}" placeholder="Please select DOB from below field"><br>
                                    <input type="date" class="form-control" id="val-DOB" name="dob" value="" >
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Date of Joining</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-joiningDate" name="" value="{%if getempid.joiningdate is not None%}{{getempid.joiningdate}}{%endif%}" placeholder="Please select joining date from below field"><br>
                                    <input type="date" class="form-control" id="val-joiningDate" name="joiningdate">
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Educational Qualifications</label>
                                <div class="col-lg-8">
                                    <select id = "val-eduqual" name="eduqual1" onchange="showother(this.options[this.selectedIndex].value)">
                                        <option value="">{%if getempid.eduqual is not None%}{{getempid.eduqual}}{%endif%}</option>
                                        <option value="1st - 4 th">1<sup>st</sup> - 4<sup>th</sup></option>
                                        <option value="5th - 9th">5<sup>th</sup> - 9<sup>th</sup></option>
                                        <option value="10th">10<sup>th</option>
                                        <option value="12th / Diploma">12<sup>th</sup> / Diploma</option>
                                        <option value="Graduation">Gradutaion</option>
                                        <option value="Post-Graduation">Post-Gradutaion</option>
                                        <option value="Others">Others</option>
                                    </select>
                                    <br>
                                    <br>
                                    <div class="col-lg-8" id="div1">
                                        <input type="text" name="eduqual2" placeholder = "Type here"/>
                                    </div>
                                
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Experience (In years)</label>
                                <div class="col-lg-8">
                                    <input type="number" class="form-control" id="val-experience" name="experience" value="{%if getempid.experience is not None%}{{getempid.experience}}{%endif%}" placeholder="Enter the Employee Experience" >
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Marital Status</label>
                                <div class="col-lg-8">
                                    {% if getempid.maritalstatus == "Married" %}
                                    <input type="radio" id="val-experience" name="maritalstatus" value="Married" checked>
                                    {%else%}
                                    <input type="radio" id="val-experience" name="maritalstatus" value="Married" >
                                    {%endif%}
                                    <label for="html">Married</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% if getempid.maritalstatus == "Unmarried" %}
                                    <input type="radio"  id="val-experience" name="maritalstatus" value="Unmarried" checked>
                                    {%else%}
                                    <input type="radio"  id="val-experience" name="maritalstatus" value="Unmarried">
                                    {%endif%}
                                    <label for="html">Unmarried</label><br>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Dependants</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-depender" name="dependants" placeholder="Enter the Employee Depender" value="{%if getempid.dependants is not None%}{{getempid.dependants}}{%endif%}">
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Reference Name</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-refName" name="refname" placeholder="Enter the Employee Reference Name" value="{%if getempid.refname is not None%}{{getempid.refname}}{%endif%}">
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Reference Address</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-refAddress" name="refaddress" placeholder="Enter the Employee Reference Address" value="{%if getempid.refaddress is not None%}{{getempid.refaddress}}{%endif%}" >
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">RFID ID</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-RFID" name="rfid" placeholder="Enter the Employee Reference ID" value="{%if getempid.rfid is not None%}{{getempid.rfid}}{%endif%}">
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">SIFA Code</label>
                                <div class="col-lg-8">
                                    <input type="number" class="form-control" id="val-SIFACODE" name="sifacode" placeholder="Enter the Employee SIFA Code" value="{%if getempid.sifacode is not None%}{{getempid.sifacode}}{%endif%}">
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Access Type</label>
                                <div class="col-lg-8">
                                    <select name="accesstype" id="val-accessType">
                                        <option value="">{%if getempid.accesstype is not None%}{{getempid.accesstype}}{%endif%}</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">SIFA Serial Number</label>
                                <div class="col-lg-8">
                                    <input type="number" class="form-control" id="val-sifaserialnumber" value="{%if getempid.sifaserialnumber is not None%}{{getempid.sifaserialnumber}}{%endif%}" name="sifaserialnumber" placeholder="Enter the Employee SIFA Serial Number">
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Employee Short Code</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="val-empshortcode" name="empshortcode" value="{%if getempid.empshortcode is not None%}{{getempid.empshortcode}}{%endif%}" placeholder="Enter the Employee Short Code">
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Activity Status</label>
                                <div class="col-lg-8">
                                    {% if getempid.actstatus == "Active" %}
                                    <input type="radio" id="val-name" name="actstatus" value="Active" checked>
                                    {%else%}
                                    <input type="radio" id="val-name" name="actstatus" value="Active">
                                    {% endif %}
                                    <label for="html">Active</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% if getempid.actstatus == "Inactive" %}
                                    <input type="radio" id="val-name" name="actstatus" value="Inactive" checked>
                                    {%else%}
                                    <input type="radio" id="val-name" name="actstatus" value="Inactive">
                                    {% endif %}
                                    <label for="html">Inactive</label><br>
                                </div>
                            </div>

                            <br>
                            <button type="submit"class="btn btn-success" value="Submit" style="margin: 1rem;">
                                <i class="fas fa-save"></i>
                                <a>Update</a>
                            </button>
    
                            <button class="btn btn-danger" style="margin: 1rem;">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                <a href="{%url 'employees'%}" style="color: azure; text-decoration: none;">Cancel</a>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}
